





@media only screen and (max-width:600px) {
	body {
		overflow: hidden;
		overflow-y: auto;
	}
	br {
		line-height:10px;
	}
	form.container {
		position:relative;
		top:0;
		left:50%;
		transform:translateX(-50%);
		width:auto;
		height:auto;
		padding:4px;
		margin:0;
		line-height:4.0em;
		overflow:hidden;
		padding-top:0;
		padding-bottom:0;
		display:flex;
	}
	.container label, .container input {
		font-size:100%;
		width:80%;
	}
	form.container input.submit_btn {
		top:0;
		width:auto;
		font-size:1.4em;
		padding-top:20px;
		padding-bottom:20px;
	}
	table.container {
		width:100%;
		padding:0;
		font-size:1.25em;
		font-weight:bold;
	}
	table.list.groups {
		width:90%;
		padding:5px;
		max-width:unset;
	}
	table.groups tr {
		position:relative;
		width:100%;
		display:block;
	}
	table.groups tr td {
		position:relative;
		width:100%;
		display:inline-block;
	}
	table.groups tbody {
		width:100%;
	}
	.container button.peak {
		left:5%;
		padding:10px;
	}
	table.groups tr td input[type="checkbox"] {
		width:40px;
		height:40px;
	}
	.status {
		margin: 0;
		padding: 0;
		font-size:0.75em;
	}
	div.container.flex {
		display:flex;
	}
	div.content {
		padding:5px;
		overflow:hidden;
	}
	.groups label {
		font-size:1.1em;
		font-weight:bold;
	}
	

}




