button, .submit_btn {
	appearance:button;
	position: relative;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
	padding: 10px;
	font-size:1.5em;
	/*border: 2px solid rgba(0,0,0,0.25);*/
	border:none;
	outline: none;
	display: block;
	background-color:rgba(0,0,0,0);
	border-radius:10px;
	color:#000;
	overflow:hidden;
	
	clip-path:polygon(
		var(--b-) 0,
		0 var(--b-),
		0 calc(100% - var(--b-)),
		var(--b-) 100%,
		calc(100% - var(--b-)) 100%,
		100% calc(100% - var(--b-)),
		100% var(--b-),
		calc(100% - var(--b-)) 0
	);
	
	text-align:center;
	font-family:arial;
	-webkit-transition-duration: var(--idur);
	-moz-transition-duration: var(--idur);
	-o-transition-duration: var(--idur);
	transition-duration: var(--idur);
}
.submit_btn {
	width:25%;
	height:auto;
	padding:25px;
	font-weight:bolder;
	font-size:1.5em;
	clip-path:unset;
	/*border:2px solid rgba(255,255,255,0.85);*/
	border:2px solid #000;
	margin-top:0px;
}
.submit_btn:hover {
	width:26%;
	border-radius:5px;
}

button:before, .submit_btn:before {
	clear: both;
	content: "";
	position: absolute;
	appearance:button;
	top: 0;
	left: 0;
	width: 200%;
	height: 200%;
	z-index: -100;
	clip-path:polygon(
		var(--b-) 0,
		0 var(--b-),
		0 calc(100% - var(--b-)),
		var(--b-) 100%,
		calc(100% - var(--b-)) 100%,
		100% calc(100% - var(--b-)),
		100% var(--b-),
		calc(100% - var(--b-)) 0
	);
	background-color:rgba(0,0,0,0.1);
	/*background: linear-gradient(to bottom right,rgba(0,82,100,0.5) 25%,rgba(0,155,173,1));*/
	-webkit-transition-duration: var(--tdur);
	-moz-transition-duration: var(--tdur);
	-o-transition-duration: var(--tdur);
	transition-duration: var(--tdur);
}
button:hover:before, .submit_btn:hover:before {
	clear:both;
	content:"";
	background-color:rgba(0,0,0,0.25);
	/*
	clear: both;
	content: "";
	appearance:button;
	top: 0%;
	left: 0%;
	transform:translateX(-50%) translateY(-50%);
	clip-path:polygon(
		var(--b-) 0,
		0 var(--b-),
		0 calc(100% - var(--b-)),
		var(--b-) 100%,
		calc(100% - var(--b-)) 100%,
		100% calc(100% - var(--b-)),
		100% var(--b-),
		calc(100% - var(--b-)) 0
	);
	background: linear-gradient(to bottom right,rgba(0,0,0,0.5) 25%,rgba(50,100,255,1));
	-webkit-transition-duration: var(--tdur);
	-moz-transition-duration: var(--tdur);
	-o-transition-duration: var(--tdur);
	transition-duration: var(--tdur);
	*/
}

.submit_btn[disabled], input[type="text"][disabled] {
	background-color:rgba(100,100,100,0.85);
	color:rgb(150,150,150);
	cursor:not-allowed;
}
.submit_btn[disabled]:hover {
	width:25%;
	border-radius:10px;
}

.peak {
	position:relative;
	top:0;
	left:5%;
	width:25px;
	height:25px;
	display:inline;
	padding:20px;
	background-color:var(--peak-btn-color-);
	vertical-align:middle;
}
.peak:after {
	clear:both;
	content:"";
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	/*background-color:rgba(0,0,0,0.0) !important;*/
	background-image:url("../../eye.png");
	background-size:100% 100%;
	background-repeat:no-repeat;
	background-position:0 0;
	/*background-color:rgba(255,255,255,0.85);*/
}