
button.help {
	position:fixed;
	top:unset;
	left:unset;
	bottom:0;
	right:0;
	width:fit-content;
	height:fit-content;
	display:inline-block;
	z-index:2000;
}
button#submit_ticket_btn:disabled {
	cursor:not-allowed;
}

/*
button, .submit_btn {
	appearance:button;
	position: relative;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
	padding: 10px;
	font-size:1.5em;
	border:none;
	outline: none;
	display: block;
	background-color:rgba(0,0,0,0);
	border-radius:10px;
	color:#000;
	overflow:hidden;
	
	clip-path:polygon(
		var(--b-) 0,
		0 var(--b-),
		0 calc(100% - var(--b-)),
		var(--b-) 100%,
		calc(100% - var(--b-)) 100%,
		100% calc(100% - var(--b-)),
		100% var(--b-),
		calc(100% - var(--b-)) 0
	);
	
	text-align:center;
	font-family:arial;
	-webkit-transition-duration: var(--idur);
	-moz-transition-duration: var(--idur);
	-o-transition-duration: var(--idur);
	transition-duration: var(--idur);
}
.submit_btn {
	width:auto;
	height:auto;
	padding:25px;
	font-weight:bolder;
	font-size:1.5em;
	clip-path:unset;
	border:2px solid #000;
	margin-top:0px;
}

.submit_btn:hover {
	padding-left:27px;
	padding-right:27px;
	border-radius:5px;
	box-shadow:
		var(--submit-btn-hov-shadow-size-) var(--submit-btn-hov-shadow-size-) var(--submit-btn-hov-shadow-depth-) 2px var(--container-border-color-),
		calc(var(--submit-btn-hov-shadow-size-) * -1) calc(var(--submit-btn-hov-shadow-size-) * -1) var(--submit-btn-hov-shadow-depth-) 2px var(--container-border-color-),
		calc(var(--submit-btn-hov-shadow-size-) * -1) var(--submit-btn-hov-shadow-size-) var(--submit-btn-hov-shadow-depth-) 2px var(--container-border-color-),
		var(--submit-btn-hov-shadow-size-) calc(var(--submit-btn-hov-shadow-size-) * -1) var(--submit-btn-hov-shadow-depth-) 2px var(--container-border-color-);
}

button:before, .submit_btn:before {
	clear: both;
	content: "";
	position: absolute;
	appearance:button;
	top: 0;
	left: 0;
	width: 200%;
	height: 200%;
	z-index: -100;
	clip-path:polygon(
		var(--b-) 0,
		0 var(--b-),
		0 calc(100% - var(--b-)),
		var(--b-) 100%,
		calc(100% - var(--b-)) 100%,
		100% calc(100% - var(--b-)),
		100% var(--b-),
		calc(100% - var(--b-)) 0
	);
	background-color:rgba(0,0,0,0.1);
	-webkit-transition-duration: var(--tdur);
	-moz-transition-duration: var(--tdur);
	-o-transition-duration: var(--tdur);
	transition-duration: var(--tdur);
}
button:hover:before, .submit_btn:hover:before {
	clear:both;
	content:"";
	background-color:rgba(0,0,0,0.25);
}

.submit_btn[disabled], input[type="text"][disabled] {
	background-color:rgba(100,100,100,0.85);
	color:rgb(150,150,150);
	cursor:not-allowed;
}
.submit_btn[disabled]:hover {
	border-radius:10px;
}
*/
.peak {
	position:relative;
	top:50%;
	left:0;
	transform:translateY(-50%);
	width:28px;
	height:28px;
	display:inline-block;
	/*padding:13px;*/
	/*vertical-align:middle;*/
}
.peak:after {
	clear:both;
	content:"";
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	/*background-color:rgba(0,0,0,0.0) !important;*/
	background-image:url("../../eye.png");
	background-size:100% 100%;
	background-repeat:no-repeat;
	background-position:0 0;
	/*background-color:rgba(255,255,255,0.85);*/
}


.peak.crossout:after {
	background-image:url("../../eye_crossout.png");
}

button.card-header {
	font-weight:bolder;
}

.hidden {
	display:none !important;
}

button.info {
	left:0;
	width:20px;
	height:20px;
	padding:0px;
	display:inline-block;
	border-radius:10px;
	font-size:0.75em;
	background-color:rgba(0,0,0,0);
}
button.info:hover, button.info:active, button.info:focus {
	background-color:rgba(0,0,0,0);
}

button.info:before {
	clear:both;
	content:'\00A1';
	position:absolute;
	top:50%;
	left:50%;
	transform:translateX(-50%) translateY(-50%);
	background-color:rgba(0,0,0,0);
	font-size:1.5em;
	font-weight:bolder;
}

table.pwd-mgr button.info {
	transform:translateY(-70%);
}

button.logout {
	position:absolute;
	top:10px;
	left:unset !important;
	right:10px;
	cursor:pointer !important;
	z-index:1000;
}
