

input, button, select, textarea {
	position:relative;
	top:0;
	left:0;
}

.card .btn {
	color:#000;
}

input:disabled, button:disabled, select:disabled, textarea:disabled {
	background-color:rgb(150,150,150);
	cursor:not-allowed;
}

#GroupsElement .aspNetDisabled {
	display:none;
}

#UserGroupsElement label {
	text-decoration:unset;
}

table.groups tr td input[type="checkbox"] {
	position:relative;
	left:0;
	display:inline-block;
}
table.groups tr td label {
	position:relative;
	left:0;
	text-align:right;
	display:inline-block;
	vertical-align:middle;
}

input[type="checkbox"] {
	cursor:pointer;
}
.form-check input[type="checkbox"].form-check-input {
	border-color:rgba(0,0,0,0.75);
}
.aspNetDisabled .form-check input[type="checkbox"].form-check-input {
	border-color:rgba(0,0,0,0.25);
}

option[value]:after {
	clear:both;
	content:attr(value);
}

.form-floating > textarea.form-control {
	height:200px;
}

div.form-floating input.form-control {
	border-color:rgb(100,100,100);
	height:50px;
}



/*
input {
	position:relative;
	top:0;
	left:0;
	width:50%;
	height:auto;
	font-size:1.75em;
	border:none;
	border-bottom:2px solid rgba(0,0,0,0.5);
	cursor:text;
	background-color:rgba(0,0,0,0);
	color:#000;
	outline:none;
	display:inline-block;
	-webkit-transition-duration:var(--inp-dur-);
	-moz-transition-duration:var(--inp-dur-);
	-ms-transition-duration:var(--inp-dur-);
	-o-transition-duration:var(--inp-dur-);
	transition-duration:var(--inp-dur-);
}
input:hover {
	border-bottom:2px solid rgba(0,0,0,1);
}

input[type="checkbox"] {
	position:relative;
	cursor:pointer;
	border-radius:2px;
	border:2px solid #000;
	appearance:unset;
}
input[type="checkbox"]:checked {
	background:radial-gradient(var(--container-border-color-),rgb(90,169,203));
	border:4px solid rgb(90,169,203);
	border-radius:50%;
}

input[type="checkbox"]:disabled {
	background:radial-gradient(rgb(100,100,100),rgb(150,150,150));
	border:5px solid rgb(150,150,150);
}
*/

/*
input[type="checkbox"]:checked:after, input[type="checkbox"]:after:checked {
	clear:both;
	cotnent:'\u2713';
	appearance:unset;
	position:absolute;
	top:50%;
	left:50%;
	transform:translateX(-50%) translateY(-50%);
	color:rgb(50,200,50);
	font-weight:bolder;
	font-size:1.5em;
	
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgb(150,150,150);
	clip-path:polygon(
		10% 40%,
		50% 80%,
		90% 15%,
		100% 20%,
		50% 100%,
		0 50%
	);
	
}
*/

/*
input {
	position: relative;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 75%;
	height: 2.0em;
	outline: none;
	border: none;
	border-bottom: 1px solid #FFF;
	cursor: text;
	background-color: rgba(0,0,0,0.0);
	color: #FFF;
	display:inline;
	padding:4px;
	font-size:1.5em;
	text-align:center;
	-webkit-transition-duration: var(--idur);
	-moz-transition-duration: var(--idur);
	-o-transition-duration: var(--idur);
	transition-duration: var(--idur);
}
input:before {
	clear:both;
	content:"";
	position:absolute;
	bottom:0;
	left:0;
	width:0%;
	height:1px;
	background-color:#FFF;
	font-size:1.5em;
	-webkit-transition-duration: var(--idurh);
	-moz-transition-duration: var(--idurh);
	-o-transition-duration: var(--idurh);
	transition-duration: var(--idurh);
}
input:hover:before {
	width:100%;
}
input.invalid:before {
	clear:both;
	content:"";
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:1px;
	background-color:rgb(255,0,0);
	font-size:1.5em;
	-webkit-transition-duration: var(--idurh);
	-moz-transition-duration: var(--idurh);
	-o-transition-duration: var(--idurh);
	transition-duration: var(--idurh);
}
*/
