.status {
	position:relative;
	top:0;
	left:0;
	padding:10px;
	outline:none;
	cursor:pointer;
	margin-top:10px;
	display:block;
	text-align:center;
	-webkit-transition-duration:var(--status-anim-dur-);
	-moz-transition-duration:var(--status-anim-dur-);
	-ms-transition-duration:var(--status-anim-dur-);
	-o-transition-duration:var(--status-anim-dur-);
	transition-duration:var(--status-anim-dur-);
}
.status[class~="error"] {
	background-color:rgba(0,0,0,0.85);
	color:rgb(255,0,0);
}
.error {
	color:rgb(255,0,100);
}