
h1.title {
	text-align:center;
	border:2px solid rgba(0,0,0,0);
	border-bottom:2px solid var(--container-border-color-);
	padding-bottom:20px;
	text-transform:uppercase;
	outline:none;
	user-select:none;
}
label, h1, label, font, span, p, section, article, li {
	user-select:none;
}
.title, .sub_title {
	position:relative;
	top:0;
	left:50%;
	transform:translateX(-50%);
	font-weight:bolder;
	font-size:1.5em;
	width:auto;
	max-width:100%;
	display:inline-block;
}

.sub_title {
	font-size:1.25em;
}

label {
	text-align:left;
}

table.groups#groups label {
	/*
	position:relative;
	top:50%;
	left:25px;
	transform:translateY(-50%);
	width:calc(100% - 30px);
	font-size:1.25em;
	outline: 1px solid red;
	height:100%;
	display:inline-block;
	*/
	vertical-align:top;
}


* {
	font-family:var(--font-family-) !important;
}