
@import url("vars.css");

html {
	position:fixed;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	background-color:rgb(30,30,30);
	color:#FFF;
	display:block;
	padding:0px;
}
body {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color:rgba(0,0,0,0.0);
}




input {
	position: relative;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 75%;
	height: 2.0em;
	outline: none;
	border: none;
	border-bottom: 1px solid #FFF;
	cursor: text;
	background-color: rgba(0,0,0,0.0);
	color: #FFF;
	display:block;
	padding:4px;
	font-size:1.5em;
	text-align:center;
	-webkit-transition-duration: var(--idur);
	-moz-transition-duration: var(--idur);
	-o-transition-duration: var(--idur);
	transition-duration: var(--idur);
}
label {
	position:relative;
	top:0;
	left:50%;
	transform:translateX(-50%);
	display:block;
	text-align:center;
	font-family:arial;
	font-size:1.5em;
}
button, input[type="button"] {
	position: relative;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
	padding: 10px;
	font-size:1.5em;
	border: 2px solid rgba(0,0,0,0.5);
	outline: none;
	display: block;
	background-color:rgba(0,0,0,0.0);
	border-radius:10px;
	color:#FFF;
	overflow:hidden;
	-webkit-transition-duration: var(--idur);
	-moz-transition-duration: var(--idur);
	-o-transition-duration: var(--idur);
	transition-duration: var(--idur);
}
button:before {
	clear: both;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 200%;
	height: 200%;
	z-index: -100;
	background: linear-gradient(to bottom right,rgba(0,0,0,0.5) 25%,rgba(0,155,173,1));
	-webkit-transition-duration: var(--tdur);
	-moz-transition-duration: var(--tdur);
	-o-transition-duration: var(--tdur);
	transition-duration: var(--tdur);
}
button:hover:before {
	clear: both;
	content: "";
	top: 0%;
	left: 0%;
	transform:translateX(-50%) translateY(-50%);
	/*background: linear-gradient(to bottom right,rgba(0,0,0,0.5) 25%,rgba(50,100,255,1));*/
	-webkit-transition-duration: var(--tdur);
	-moz-transition-duration: var(--tdur);
	-o-transition-duration: var(--tdur);
	transition-duration: var(--tdur);
}


input:before {
	clear:both;
	content:"";
	position:absolute;
	bottom:0;
	left:0;
	width:0%;
	height:1px;
	background-color:#FFF;
	font-size:1.5em;
	-webkit-transition-duration: var(--idurh);
	-moz-transition-duration: var(--idurh);
	-o-transition-duration: var(--idurh);
	transition-duration: var(--idurh);
}
input:hover:before {
	width:100%;
}


input.invalid:before {
	clear:both;
	content:"";
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:1px;
	background-color:rgb(255,0,0);
	font-size:1.5em;
	-webkit-transition-duration: var(--idurh);
	-moz-transition-duration: var(--idurh);
	-o-transition-duration: var(--idurh);
	transition-duration: var(--idurh);
}

.status {
	position:relative;
	top:0;
	left:50%;
	transform:translateX(-50%);
	display:block;
	width:90%;
	height:auto;
	font-size:1.25em;
	font-weight:bolder;
	color:#FFF;
	background-color:rgba(0,0,0,0.0);
	padding:10px;
	outline:none;
	cursor:pointer;
	text-align:center;
	border-radius:20px;
	border:2px solid #000;
	margin-top:10px;
}
.status [class~="error"] {
	background-color:rgba(255,106,0,0.75);
	color:#FFF;
	border:2px double rgb(255,0,0);
}
