
@import url("vars.css");

html {
	position:fixed;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	background-color:rgb(30,30,30);
	color:#FFF;
	padding:0px;
	margin:0px;
	display:block;
}
body {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color:rgba(0,0,0,0.0);
	padding:0px;
	margin:0px;
	display:block;
}

.bg {
	position:absolute;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	background:linear-gradient(to bottom right, rgb(0,155,173) 25%, rgb(0,62,80));
	background-size:200% 200%;
	background-position:0 0;
	display:block;
	animation:bg 10s ease-in-out 0s infinite;
}
.bg:after {
	clear:both;
	content:"";
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.75);
}
@keyframes bg {
	0% {
		backgroun-position: 0 0;
	}
	25% {
		background-position: 100% 100%;
	}
	50% {
		background-position: 0 100%;
	}
	75% {
		background-position: 100% 0;
	}
	100% {
		background-position: 0 0;
	}
}
.container {
	position:relative;
	top:50%;
	left:50%;
	transform:translateX(-50%) translateY(-50%);
	width:75%;
	height:auto;
	padding:50px;
	display:block;
	overflow:hidden;
	background-color:rgb(30,30,30);
	clip-path:polygon(
		var(--b-) 0,
		0 var(--b-),
		0 calc(100% - var(--b-)),
		var(--b-) 100%,
		calc(100% - var(--b-)) 100%,
		100% calc(100% - var(--b-)),
		100% var(--b-),
		calc(100% - var(--b-)) 0
	);
}
.container:before {
	clear:both;
	content:"";
	position:absolute;
	top:calc(calc(var(--b-) / 2) * -1);
	left:calc(calc(var(--b-) / 2) * -1);
	background:linear-gradient(to bottom right, rgb(0,155,173) 25%, rgb(0,82,100));
	z-index:-100;
	width:calc(100% + var(--b-));
	height:calc(100% + var(--b-));
	clip-path:polygon(
		var(--b-) 0,
		0 var(--b-),
		0 calc(100% - var(--b-)),
		var(--b-) 100%,
		calc(100% - var(--b-)) 100%,
		100% calc(100% - var(--b-)),
		100% var(--b-),
		calc(100% - var(--b-)) 0
	);
	animation:bgr 10s ease-in-out 0s infinite;
}

@keyframes bgr {
	0% {
		filter:hue-rotate(0deg);
	}
	50% {
		filter: hue-rotate(180deg);
	}
	100% {
		filter: hue-rotate(0deg);
	}
}

.container:after {
	clear:both;
	content:"";
	position:absolute;
	top:50%;
	left:50%;
	transform:translateX(-50%) translateY(-50%);
	width:calc(100% - var(--b-));
	height:calc(100% - var(--b-));
	background-color:rgba(30,30,30,0.90);
	z-index:-10;
	clip-path:polygon(
		var(--b-) 0,
		0 var(--b-),
		0 calc(100% - var(--b-)),
		var(--b-) 100%,
		calc(100% - var(--b-)) 100%,
		100% calc(100% - var(--b-)),
		100% var(--b-),
		calc(100% - var(--b-)) 0
	);
	display:block;
}

input, button, label {
	font-family:arial;
}

input {
	position: relative;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 75%;
	height: 2.0em;
	outline: none;
	border: none;
	border-bottom: 1px solid #FFF;
	cursor: text;
	background-color: rgba(0,0,0,0.0);
	color: #FFF;
	display:inline;
	padding:4px;
	font-size:1.5em;
	text-align:center;
	-webkit-transition-duration: var(--idur);
	-moz-transition-duration: var(--idur);
	-o-transition-duration: var(--idur);
	transition-duration: var(--idur);
}
label {
	position:relative;
	top:0;
	left:50%;
	transform:translateX(-50%);
	display:block;
	text-align:center;
	font-family:arial;
	font-size:1.5em;
}
button, .submit_btn {
	appearance:button;
	position: relative;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
	padding: 10px;
	font-size:1.5em;
	/*border: 2px solid rgba(0,0,0,0.25);*/
	border:none;
	outline: none;
	display: block;
	background-color:rgba(0,0,0,0.0);
	border-radius:10px;
	color:#FFF;
	overflow:hidden;
	clip-path:polygon(
		var(--b-) 0,
		0 var(--b-),
		0 calc(100% - var(--b-)),
		var(--b-) 100%,
		calc(100% - var(--b-)) 100%,
		100% calc(100% - var(--b-)),
		100% var(--b-),
		calc(100% - var(--b-)) 0
	);
	text-align:center;
	font-family:arial;
	-webkit-transition-duration: var(--idur);
	-moz-transition-duration: var(--idur);
	-o-transition-duration: var(--idur);
	transition-duration: var(--idur);
}
.submit_btn {
	/*
	width:25%;
	height:2.0em;
	*/
	width:20%;
	height:auto;
	padding:25px;
	font-weight:bolder;
	font-size:1.5em;
	clip-path:unset;
	border:2px solid rgba(255,255,255,0.85);
	margin-top:10px;
}

button:before, .submit_btn:before {
	clear: both;
	content: "";
	position: absolute;
	appearance:button;
	top: 0;
	left: 0;
	width: 200%;
	height: 200%;
	z-index: -100;
	clip-path:polygon(
		var(--b-) 0,
		0 var(--b-),
		0 calc(100% - var(--b-)),
		var(--b-) 100%,
		calc(100% - var(--b-)) 100%,
		100% calc(100% - var(--b-)),
		100% var(--b-),
		calc(100% - var(--b-)) 0
	);
	background: linear-gradient(to bottom right,rgba(0,82,100,0.5) 25%,rgba(0,155,173,1));
	-webkit-transition-duration: var(--tdur);
	-moz-transition-duration: var(--tdur);
	-o-transition-duration: var(--tdur);
	transition-duration: var(--tdur);
}
button:hover:before, .submit_btn:hover:before {
	clear: both;
	content: "";
	appearance:button;
	top: 0%;
	left: 0%;
	transform:translateX(-50%) translateY(-50%);
	clip-path:polygon(
		var(--b-) 0,
		0 var(--b-),
		0 calc(100% - var(--b-)),
		var(--b-) 100%,
		calc(100% - var(--b-)) 100%,
		100% calc(100% - var(--b-)),
		100% var(--b-),
		calc(100% - var(--b-)) 0
	);
	/*background: linear-gradient(to bottom right,rgba(0,0,0,0.5) 25%,rgba(50,100,255,1));*/
	-webkit-transition-duration: var(--tdur);
	-moz-transition-duration: var(--tdur);
	-o-transition-duration: var(--tdur);
	transition-duration: var(--tdur);
}


input:before {
	clear:both;
	content:"";
	position:absolute;
	bottom:0;
	left:0;
	width:0%;
	height:1px;
	background-color:#FFF;
	font-size:1.5em;
	-webkit-transition-duration: var(--idurh);
	-moz-transition-duration: var(--idurh);
	-o-transition-duration: var(--idurh);
	transition-duration: var(--idurh);
}
input:hover:before {
	width:100%;
}


input.invalid:before {
	clear:both;
	content:"";
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:1px;
	background-color:rgb(255,0,0);
	font-size:1.5em;
	-webkit-transition-duration: var(--idurh);
	-moz-transition-duration: var(--idurh);
	-o-transition-duration: var(--idurh);
	transition-duration: var(--idurh);
}

.status {
	position:relative;
	top:0;
	left:50%;
	transform:translateX(-50%);
	display:block;
	width:90%;
	height:auto;
	font-size:1.25em;
	font-weight:bolder;
	color:#FFF;
	background-color:rgba(0,0,0,0.0);
	padding:10px;
	outline:none;
	cursor:pointer;
	text-align:center;
	border-radius:20px;
	border:2px solid #000;
	margin-top:10px;
}
.status [class~="error"] {
	background-color:rgba(255,106,0,0.75);
	color:rgb(255,0,0);
	border:2px double rgb(255,0,0);
}
.error {
	color:rgb(255,0,0);
}

.peak {
	position:relative;
	top:0;
	left:10%;
	width:25px;
	height:25px;
	display:inline;
	padding:20px;
}
.peak:after {
	clear:both;
	content:"";
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.0) !important;
	background-image:url("../eye.png");
	background-size:100% 100%;
	background-repeat:no-repeat;
	background-position:0 0;
	background-color:rgba(255,255,255,0.85);
}
